<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationGroupContainerIdentifier</key>
	<string>group.kpaw.FlickType.sharedContainer</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Key</key>
			<string>FlickType_EMOJI_SHORTCUTS</string>
			<key>DefaultValue</key>
			<string>☺️😀😂🤣🥳😘😍❤️🔥🚀🙏👍🤔☹️😭</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>FlickType_WATCH_PRESENTATION_STYLE</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Presentation style</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Titles</key>
			<array>
				<string>Modal</string>
				<string>Push</string>
				<string>Root</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>FlickType_AUTOCORRECT</string>
			<key>Title</key>
			<string>Auto-Correction</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>FlickType_CHARACTER_PREVIEW</string>
			<key>Title</key>
			<string>Character Preview</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>FlickType_SWIPE</string>
			<key>Title</key>
			<string>Slide to Type</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>FlickType_FLICKS</string>
			<key>Title</key>
			<string>Flick gestures</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
