language: swift
osx_image: xcode12

script:
  - |
    set -o pipefail && \
    xcodebuild \
    -project "Sample/FlickTypeKit Sample.xcodeproj" \
    -scheme "FlickTypeKit Sample WatchKit App" \
    -destination platform="iOS Simulator",name="iPhone 11 Pro" \
    build | xcpretty
